<!doctype html>
<html>
	<head>
		{% block external_javascript %}
					<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" language="javascript"></script>
		{% endblock external_javascript %}
		{% block map_point_js_defs %}
		{% endblock map_point_js_defs %}
		<style>
			body {font-family: sans-serif}
			#map {width: 500px; height: 300px}
		</style>
	</head>
	<body>
		{% block content %}
			<h1>Hi world</h1>
			{% block point_list %}
			{% endblock %}
			{% block map %}
			{% endblock %}
		{% endblock content %}
	</body>
</html>